/* Resets */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0; }

/* Basics */
html, body {
  height: 100%; }

body {
  font-family: "rooney-sans", sans-serif;
  font-size: 0.95em;
  font-weight: 300;
  line-height: 1.4;
  color: #383838;
  background-color: #eee; }

/* Set 'margin-bottom' to maintain vertycal rhythm */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
.highlight {
  margin-bottom: 10px; }

/* Images */
img {
  max-width: 100%;
  vertical-align: middle;
  display: block;
  margin-left: auto;
  margin-right: auto; }

/* Figures */
figure > img {
  display: block; }

figcaption {
  font-size: 0.89em; }

/* Lists */
ul, ol {
  margin-left: 20px; }

li > ul,
li > ol {
  margin-bottom: 0; }

/* Headings */
h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  color: #126868; }

/* Links */
a {
  color: #126868;
  text-decoration: none; }
  a:visited {
    color: #126868; }
  a:hover {
    color: #072727;
    text-decoration: underline; }

/* Blockquotes */
blockquote {
  color: #5d5d60;
  border-left: 4px solid #c9c9c9;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.05em;
  font-style: italic;
  letter-spacing: -1px; }
  blockquote > :last-child {
    margin-bottom: 0; }

/* Code Formatting */
pre, code {
  font-size: 15px;
  border: 1px solid #c9c9c9;
  border-radius: 3px;
  background-color: #eef; }

code {
  padding: 1px 5px; }

pre {
  padding: 8px 12px;
  overflow-x: scroll; }
  pre > code {
    border: 0;
    padding-right: 0;
    padding-left: 0; }

.site-wrapper {
  min-height: 100%;
  margin-bottom: -150px; }

.site-wrapper:after {
  content: "";
  display: block; }

.site-footer, .site-wrapper:after {
  height: 150px; }

/* Wrapper */
.wrapper {
  max-width: -webkit-calc(800px - (20px * 2));
  max-width: calc(800px - (20px * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px; }
  @media screen and (max-width: 800px) {
    .wrapper {
      max-width: -webkit-calc(800px - (20px));
      max-width: calc(800px - (20px));
      padding-right: 10px;
      padding-left: 10px; } }

/* Clearfix */
.wrapper:after, .contact-list:after, .footer-col-wrapper:after {
  content: "";
  display: table;
  clear: both; }

/* Site Header */
.site-header {
  min-height: 100px;
  position: relative;
  background: url(../images/header-bg2.jpg) no-repeat center center; }

a.site-title {
  text-decoration: none; }

a.site-title:hover, a.site-title:visited {
  color: #f2cb05; }

.site-title {
  font-size: 3.8em;
  font-family: "museo-slab", serif;
  font-weight: 900;
  line-height: 90px;
  vertical-align: middle;
  margin-bottom: 0;
  float: left;
  padding-left: 20px;
  color: #f2cb05;
  text-shadow: 4px 4px 2px #f22e2e; }
  @media screen and (max-width: 800px) {
    .site-title {
      font-size: 2.2em;
      padding-left: 10px; } }
  @media screen and (max-width: 600px) {
    .site-title {
      font-size: 1.5em;
      padding-left: 2px; } }

.site-nav {
  float: right;
  line-height: 100px;
  margin-right: 0px;
  margin-bottom: 0px;
  font-family: "museo-slab", serif;
  font-size: 1.1em;
  font-weight: 400;
  color: #fff; }
  .site-nav .menu-icon {
    display: none; }
  .site-nav .page-link {
    color: #fff;
    line-height: 1.4;
    vertical-align: bottom;
    text-shadow: 2px 2px 2px #f22e2e; }
    .site-nav .page-link:not(:first-child) {
      margin-left: 20px; }
  @media screen and (max-width: 600px) {
    .site-nav {
      position: absolute;
      top: 20px;
      right: 10px;
      background-color: #ccc;
      /* border: 2px solid darken($alert-color, 10%);*/
      border: 3px solid #f22e2e;
      border-radius: 5px;
      text-align: right; }
      .site-nav .menu-icon {
        display: block;
        float: right;
        width: 36px;
        height: 26px;
        line-height: 0;
        padding-top: 10px;
        text-align: center; }
      .site-nav .trigger {
        clear: both;
        display: none; }
      .site-nav:hover .trigger {
        display: block;
        padding-bottom: 5px; }
      .site-nav .page-link {
        display: block;
        padding: 5px 10px;
        color: #126868;
        text-shadow: none; } }

/* Site Footer */
.site-footer {
  width: 100%;
  padding: 20px 0;
  background: url(../images/bottom-bg.png) no-repeat center center; }

.footer-heading {
  font-size: 1.6em;
  margin-bottom: 10px; }

.contact-list {
  list-style: none;
  margin-left: 0; }
  .contact-list li {
    float: left;
    padding-right: 10px;
    font-size: 1.8em; }

.footer-col-wrapper {
  font-size: 15px;
  color: #5d5d60;
  margin-left: -10px; }

.footer-col {
  float: left;
  margin-bottom: 10px;
  padding-left: 10px; }

.footer-col-1 {
  width: -webkit-calc(30% - (20px / 2));
  width: calc(30% - (20px / 2)); }

.footer-col-2 {
  width: -webkit-calc(70% - (20px / 2));
  width: calc(70% - (20px / 2)); }

@media screen and (max-width: 800px) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(100% - (20px / 2));
    width: calc(100% - (20px / 2)); } }
@media screen and (max-width: 600px) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (20px / 2));
    width: calc(100% - (20px / 2)); } }
/* Page content */
.page-content {
  padding: 20px; }

.page-heading {
  font-family: "museo-slab", serif;
  font-size: 1.2em;
  font-weight: 900; }

.post-list {
  margin-left: 0;
  list-style: none; }
  .post-list > li {
    margin-bottom: 20px; }

.post-meta {
  font-size: 0.89em;
  font-style: italic;
  color: #5d5d60; }

.post-link {
  display: block;
  font-family: "museo-slab", serif;
  font-size: 1.4em; }

/* Posts */
.post-header {
  margin-bottom: 20px; }

.post-title {
  font-size: 2.6em;
  font-family: "museo-slab", serif;
  color: #126868;
  letter-spacing: -1px;
  line-height: 1; }
  @media screen and (max-width: 800px) {
    .post-title {
      font-size: 2.4em; } }
  @media screen and (max-width: 600px) {
    .post-title {
      font-size: 1.8em; } }

.post-content {
  margin-bottom: 20px; }
  .post-content h2 {
    font-size: 1.8em;
    font-family: "museo-slab", serif;
    font-color: #126868; }
    @media screen and (max-width: 800px) {
      .post-content h2 {
        font-size: 1.6em; } }
  .post-content h3 {
    font-size: 1.6em;
    color: #126868; }
    @media screen and (max-width: 800px) {
      .post-content h3 {
        font-size: 1.4em; } }
  .post-content h4 {
    font-size: 1.4em;
    color: #126868; }
    @media screen and (max-width: 800px) {
      .post-content h4 {
        font-size: 1.2em; } }

.more {
  text-align: right;
  font-weight: 700;
  font-size: 1.0em;
  font-style: italic;
  font-family: "museo-slab", serif; }

.byline {
  font-family: "museo-slab", serif;
  font-style: italic;
  font-weight: 300; }

p.byline {
  font-size: 0.85em; }

.highlight {
  background: #fff; }
  .highlight .c {
    color: #998;
    font-style: italic; }
  .highlight .err {
    color: #a61717;
    background-color: #e3d2d2; }
  .highlight .k {
    font-weight: bold; }
  .highlight .o {
    font-weight: bold; }
  .highlight .cm {
    color: #998;
    font-style: italic; }
  .highlight .cp {
    color: #999;
    font-weight: bold; }
  .highlight .c1 {
    color: #998;
    font-style: italic; }
  .highlight .cs {
    color: #999;
    font-weight: bold;
    font-style: italic; }
  .highlight .gd {
    color: #000;
    background-color: #fdd; }
  .highlight .gd .x {
    color: #000;
    background-color: #faa; }
  .highlight .ge {
    font-style: italic; }
  .highlight .gr {
    color: #a00; }
  .highlight .gh {
    color: #999; }
  .highlight .gi {
    color: #000;
    background-color: #dfd; }
  .highlight .gi .x {
    color: #000;
    background-color: #afa; }
  .highlight .go {
    color: #888; }
  .highlight .gp {
    color: #555; }
  .highlight .gs {
    font-weight: bold; }
  .highlight .gu {
    color: #aaa; }
  .highlight .gt {
    color: #a00; }
  .highlight .kc {
    font-weight: bold; }
  .highlight .kd {
    font-weight: bold; }
  .highlight .kp {
    font-weight: bold; }
  .highlight .kr {
    font-weight: bold; }
  .highlight .kt {
    color: #458;
    font-weight: bold; }
  .highlight .m {
    color: #099; }
  .highlight .s {
    color: #d14; }
  .highlight .na {
    color: #008080; }
  .highlight .nb {
    color: #0086B3; }
  .highlight .nc {
    color: #458;
    font-weight: bold; }
  .highlight .no {
    color: #008080; }
  .highlight .ni {
    color: #800080; }
  .highlight .ne {
    color: #900;
    font-weight: bold; }
  .highlight .nf {
    color: #900;
    font-weight: bold; }
  .highlight .nn {
    color: #555; }
  .highlight .nt {
    color: #000080; }
  .highlight .nv {
    color: #008080; }
  .highlight .ow {
    font-weight: bold; }
  .highlight .w {
    color: #bbb; }
  .highlight .mf {
    color: #099; }
  .highlight .mh {
    color: #099; }
  .highlight .mi {
    color: #099; }
  .highlight .mo {
    color: #099; }
  .highlight .sb {
    color: #d14; }
  .highlight .sd {
    color: #d14; }
  .highlight .s2 {
    color: #d14; }
  .highlight .se {
    color: #d14; }
  .highlight .sh {
    color: #d14; }
  .highlight .si {
    color: #d14; }
  .highlight .sx {
    color: #d14; }
  .highlight .sr {
    color: #009926; }
  .highlight .s1 {
    color: #d14; }
  .highlight .ss {
    color: #990073; }
  .highlight .bp {
    color: #999; }
  .highlight .vc {
    color: #008080; }
  .highlight .vg {
    color: #008080; }
  .highlight .vi {
    color: #008080; }
  .highlight .il {
    color: #099; }

/*# sourceMappingURL=main.css.map */
