!!!
%html
  %head
    %meta{charset: "utf-8"}
    %title
      Sarah K (ursooperduper)
    
    %link{rel: "stylesheet", href: "/css/main.css" }
    %link{rel: "stylesheet", href: "//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" }

    %script{src: "//use.typekit.net/ann6kvn.js"}
    %script
      try{Typekit.load();}catch(e){}

  %body
    {{ content }}
