---
layout: default
---
%div.post

  %header.post-header
    %h1.post-title
      {{ page.title }}
    %p.post-meta
      {{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}

  %article.post-content
    {{ content }}
