\---
layout: base
\---

/ Latest post section
%h2.section-heading<= "Latest Post"

{% for post in site.posts limit:1 %}
%h1.post-title<
  %a{href: "{{ post.url }}"} {{ post.title }}

%p.post-meta {{ post.date | date: "%b %-d, %Y" }}

%article.excerpt {{ post.excerpt }}

%p.more<
  %a{href: "{{ post.url }}"}= "Read more"
{% endfor %}

%hr

.l-site-detail
  .post-list
    / All Posts sections
    %h2.section-heading<= "Recent Posts"

    %ul

      {% for post in site.posts offset:1 limit:3 %}
      %li
        .post-meta<
          {{ post.date | date: "%b %-d, %Y" }}

        %a{href: "{{ post.url }}"}<
          {{ post.title }}
      {% endfor %}

  .side-bar
    // Post tags
    %h2.section-heading<= "Tags"

    {% include tags.html %}
