/* ---------------------------->>> VARIABLES <<<---------------------------- */

// Main spacing sizes
$spacing-unit:        20px;
$spacing-unit-sm:     10px;

// Used in media queries
$on-palm:             600px;
$on-laptop:           800px;

// Fonts and sizes
$hl-font-stack:       "museo-slab", serif;
$body-font-stack:     "rooney-sans", sans-serif;
$base-font-size:      0.95em;
$small-font-size:     0.89em;
$base-line-height:    1.4;

// Colors
$background-color:    #eee;
$txt-color:           #383838;
$brand-color:         #21bfbf; // blue
$grey-color:          #5d5d60;
$grey-color-light:    #c9c9c9;
$grey-color-dark:     #333;
$contrast-color:      #f2cb05; // yellow
$alert-color:         #f22e2e; // red


/* ----------------------------->>> MIX-INS <<<----------------------------- */

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin flex-box() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex-flow($values) {
  -webkit-flex-flow: $values;
  -moz-box-flex-flow: $values;
  -webkit-flex-flow: $values;
  -ms-flex-flow: $values;
  flex-flow: $values;
}

// shorthand for flex-grow, flex-shrink, and flex-basis
// the default is 0 1 auto
@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex: $values;
  -webkit-flex: $values;
  -ms-flex: $values;
  flex: $values;
}


/* ------------------------------>>> RESETS <<<----------------------------- */

body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}


/* ------------------------------->>> BASE <<<------------------------------ */

html, body {
  height: 100%;
}

body {
  background-color: $background-color;

  font: {
    family: $body-font-stack;
    size: $base-font-size;
    weight: 300;
  }
  line-height: $base-line-height;
  color: $txt-color;
}

/* Set 'margin-bottom' to maintain vertycal rhythm */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  padding: $spacing-unit-sm 0;
  vertical-align: middle;
}

ul, ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  color: darken($brand-color, 20%);
}

a {
  color: darken($brand-color, 20%);
  text-decoration: none;

  &:hover {
    color: darken($brand-color, 35%);
    text-decoration: underline;
  }
}

blockquote {
  padding: $spacing-unit-sm;

  border-left: 4px solid $grey-color-light;

  color: $grey-color;
  font: {
    size: 1.05em;
    style: italic;
  }
  letter-spacing: -1px;

  > :last-child {
    margin-bottom: 0;
  }
}

iframe {
  display: block;
  margin: 0 auto;
}

/* Code Formatting */
pre, code {
  padding: 1px 5px;

  border: 1px solid $grey-color-light;
  border-radius: 3px;

  background-color: #eef;

  font-size: 1.1em;
}

pre {
  overflow-x: scroll;
  padding: 8px 12px;

  > code {
    padding: 0;

    border: 0;
  }
}

hr {
  margin-bottom: $spacing-unit;

  border: 0;
  border-bottom: 1px dashed #ccc;

  background: #999;
}


/* ----------------------------->>> LAYOUT <<<------------------------------ */

.l-wrapper {
  @include flex-box();
  @include flex-flow(column nowrap);
  min-height: 100%;
}

.l-align-middle {
  max-width: -webkit-calc(800px - (#{$spacing-unit} * 2));
  max-width:         calc(800px - (#{$spacing-unit} * 2));
  margin: 0 auto;
  padding: 0 $spacing-unit;

  @include media-query($on-laptop) {
    max-width: -webkit-calc(800px - (#{$spacing-unit}));
    max-width:         calc(800px - (#{$spacing-unit}));
    padding: 0 $spacing-unit-sm;
  }
}

.l-section-spacing {
  margin-bottom: $spacing-unit;
}

.l-page-content {
  flex: 1;
  padding: $spacing-unit;
}

.l-footer-wrapper {
  @include flex-box();
  @include flex-flow(row nowrap);
  margin-left: -$spacing-unit-sm;

  font-size: 1.2em;
  color: $grey-color;
}

.l-footer-col {
  margin-bottom: $spacing-unit-sm;
  padding-left: $spacing-unit-sm;
}

.l-footer-col-1 {
  margin-bottom: $spacing-unit-sm;
  padding-left: $spacing-unit-sm;
  width: -webkit-calc(30% - #{$spacing-unit-sm});
  width:         calc(30% - #{$spacing-unit-sm});
}

.l-footer-col-2 {
  margin-bottom: $spacing-unit-sm;
  padding-left: $spacing-unit-sm;
  width: -webkit-calc(70% - #{$spacing-unit});
  width:         calc(70% - #{$spacing-unit});

  font-size: 0.8em;
}

@include media-query($on-laptop) {
  .l-footer-col-1,
  .l-footer-col-2 {
    width: -webkit-calc(100% - #{$spacing-unit-sm});
    width:         calc(100% - #{$spacing-unit-sm});
  }
}

@include media-query($on-palm) {
  .l-footer-wrapper {
    @include flex-box();
    @include flex-flow(column nowrap);
  }

  .l-footer-col-1,
  .l-footer-col-2 {
    width: -webkit-calc(100% - #{$spacing-unit-sm});
    width:         calc(100% - #{$spacing-unit-sm});
  }

  .l-footer-col-2 {
    padding-top: $spacing-unit-sm;
  }
}


/* ---------------------------->>> MODULES <<<------------------------------ */

.site-header {
  height: 100px;

  background: url(../images/header-bg2.jpg) no-repeat center center;
}

a.site-title {
  text-decoration: none;
}

a.site-title:hover, a.site-title:visited {
  color: $contrast-color;
  text-decoration: none;
}

.site-title {
  margin-bottom: 0;

  font: {
    size: 3.8em;
    family: $hl-font-stack;
    weight: 900;
  }
  line-height: 75px;
  color: $contrast-color;
  text-shadow: 4px 4px 2px $alert-color;

  @include media-query($on-laptop) {
    padding-left: 10px;

    font-size: 2.2em;
  }

  @include media-query($on-palm) {
    font-size: 1.5em;
    padding-left: 2px;
  }
}

.site-nav {
  margin: {
    right: 0px;
    bottom: 0px;
  }
  padding-left: 70px;

  font: {
    family: $hl-font-stack;
    size: 1.1em;
    weight: 400;
  }
  color: #fff;

  .menu-icon {
    display: none;
  }

  .page-link {
    color: #fff;
    line-height: $base-line-height;
    text-shadow: 2px 2px 2px $alert-color;
    vertical-align: bottom;

    // Gaps between nav items, but not on the first one
    &:not(:first-child) {
      margin-left: 20px;
    }
  }

  @include media-query($on-palm) {
    @include flex-box();
    @include flex-flow(column nowrap);
    justify-content: flex-end;
    margin: 0px;
    padding-left: 0px;
    position: absolute;
    right: 10px;
    top: 20px;

    border-radius: 8px;

    background-color: #FFF;

    .menu-icon {
      display: block;
      position: relative;
      padding: $spacing-unit-sm;

      line-height: 0;
      text-align: right;
    }

    .trigger {
      display: none;
      text-align: right;
    }

    &:hover .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      color: darken($brand-color, 20%);
      text-shadow: none;
    }
  }
}

.site-footer {
  height: 100px;
  padding: $spacing-unit 0;
  width: 100%;

  background: url(../images/bottom-bg.png) no-repeat center center;

  h3 {
    font-family: $hl-font-stack;
  }

  @include media-query($on-palm) {
    height: 75px;
    padding: $spacing-unit-sm;
  }
}

.social {
  margin-left: 0;

  list-style: none;

  li {
    float: left;
    padding-right: 10px;

    font-size: 1.8em;
  }
}

.section-heading {
  font: {
    family: $hl-font-stack;
    size: 1.2em;
    weight: 900;
  }
}

.post-list {
  margin-left: 0;

  list-style: none;

  > li {
    margin-bottom: $spacing-unit-sm;
  }
}

.post-meta {
  font: {
    size: $small-font-size;
    style: italic;
  }
  color: $grey-color;
}

.post-title {
  color: darken($brand-color, 20%);
  font: {
    size: 2.6em;
    family: $hl-font-stack;
  }
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    font-size: 2.4em;
  }

  @include media-query($on-palm) {
    font-size: 1.8em;
  }
}

.excerpt {
  margin-bottom: $spacing-unit;
}

/* Styles for actual blog posts */
.post-content {
  margin-bottom: $spacing-unit;
  padding-bottom: $spacing-unit * 2;

  h1, h2, h3, h4, .byline {
    font: {
      family: $hl-font-stack;
      color: dark($brand-color, 20%);
    }
  }

  h1 {
    margin-bottom: 0;

    font-size: 2.0em;

    @include media-query($on-laptop) {
      font-size: 1.8em;
    }
  }

  h2 {
    padding-top: $spacing-unit;

    font-size: 1.8em;

    @include media-query($on-laptop) {
      font-size: 1.6em;
    }
  }

  h3 {
    padding-top: $spacing-unit-sm;

    font-size: 1.4em;

    @include media-query($on-laptop) {
      font-size: 1.4em;
    }
  }

  h4 {
    padding-top: $spacing-unit-sm;

    font-size: 1.2em;

    @include media-query($on-laptop) {
      font-size: 1.2em;
    }
  }

  a, a:visited, a:hover {
    text-decoration: underline;
  }
}

.more {
  font: {
    weight: 700;
    size: 1.0em;
    style: italic;
    family: $hl-font-stack;
  }
  text-align: right;
}

p.bottom-line {
  font: {
    size: 0.85em;
    style: italic;
  }
}

.work {
  @include flex-box();
  @include flex-flow(row wrap);
  padding-bottom: $spacing-unit * 2;
}

.work-thumb {
  margin-right: $spacing-unit;
  padding-right: $spacing-unit-sm;
  margin-top: $spacing-unit-sm;
  max-width: 200px;
  width: 200px;
  font-weight: 700;

  > img {
    padding: 0;
  }

  > a {
    text-decoration: none;
  }

  > a:hover {
    text-decoration: underline;
  }
}

.lightbox {
  margin-top: $spacing-unit;

    > ul {
    @include flex-box();
    @include flex-flow(row wrap);

    list-style: none;

    > li {
      margin-right: $spacing-unit;
      margin-bottom: $spacing-unit;
      position: relative;

      background-color: #FFF;

      font-size: $small-font-size;
      text-align: center;
      color: $grey-color;

      -webkit-box-shadow: 0 8px 6px -6px rgba(48, 102, 102, 0.75);
      -moz-box-shadow: 0 8px 6px -6px rgba(48, 102, 102, 0.75);
      box-shadow: 0 8px 6px -6px rgba(48, 102, 102, 0.75);

      cursor: pointer;

      > img {
        display: block;
        padding: 0;
      }
    }
  }
}

.image-title {
  @include flex-box();
  @include flex-flow(column nowrap);
  align-items: middle;
  height: 145px;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;

  background: rgba(48, 102, 102, 0.75);

  opacity: 0;

  transition: all 0.5s;
}

.title {
  color: #FFF;
  font: {
    size: 1.4em;
    family: $hl-font-stack;
  }

  transform: scale(0);
  transition: all 0.25s;
}

.lightbox li:hover {
  -webkit-box-shadow: 0 8px 6px -6px rgba(48, 102, 102, 0.75);
  -moz-box-shadow: 0 8px 6px -6px rgba(48, 102, 102, 0.75);
  box-shadow: 0 8px 6px -6px rgba(48, 102, 102, 0.75);
}

.lightbox li:hover .image-title {
  opacity: 1;
}

.lightbox li:hover .title {
  transform: scale(1);
}

.lb-title {
  display: block;
  padding: 5px 0;

  font-weight: 700;
  text-align: center;
}

// Lightbox
.lb-backdrop {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;

  background: rgba(0, 0, 0, 0.85);
}

.lb-canvas {
  @include flex-box();
  @include flex-flow(column no-wrap);
  align-items: center;
  height: 50px;
  left: 0;
  padding: $spacing-unit-sm;
  position: fixed;
  top: 0;
  width: 50px;

  background: #FFF;

  box-shadow: 0 0 20px 5px #000;
}

.lb-canvas-loading {
  background: #FFF url("../images/spinner.gif") center center no-repeat;
}

.lb-controls {
  bottom: 30px;
  left: 0;
  margin: 0 auto;
  position: fixed;
  right: 0;
  width: 400px;

  background: rgba(0, 0, 0, 0.75);

  color: #FFF;
}

.lb-controls div {
  height: 30px;

  line-height: 30px;
}

.lb-prev, .lb-next {
  padding: 5px 12px;
  position: absolute;
  top: 0;

  background: black;

  cursor: pointer;
}

.lb-prev {
  left: 0;

  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.lb-next {
  right: 0;

  border-left: 1px solid rgba(255, 255, 255, 0.1);
}

.lb-controls .inactive {
  cursor: default;
  opacity: 0.1;
}

// Work sample meta data
.project-meta {
  font-size: 1.1em;
  margin-bottom: $spacing-unit;

  > dt {
    float: left;
    width: 75px;

    color: darken($brand-color, 20%);
    font-family: $hl-font-stack;
  }

  > dd {
    color: $grey-color;
  }
}

// Tall images in 'work sample' section
.side-img {
  float: left;
  margin-right: $spacing-unit;

  @include media-query($on-palm) {
    float: none;
    margin-right: 0 auto;
  }
}

// Work sample return
.return-to {
  padding-top: $spacing-unit * 2;
}
