<ul class='social'>
  {% if site.github_username %}
  <li><a href='https://github.com/{{ site.github_username }}'>
    <span class='fa fa-github'></span>
  </a></li>
  {% endif %}
  {% if site.twitter_username %}
  <li><a href='https://twitter.com/{{ site.twitter_username }}'>
    <span class='fa fa-twitter'></span>
  </a></li>
  {% endif %}
  {% if site.instagram_username %}
  <li><a href='https://instagram.com/{{ site.instagram_username }}'>
    <span class='fa fa-instagram'></span>
  </a></li>
  {% endif %}
  {% if site.dribbble_username %}
  <li><a href='https://dribbble.com/{{ site.dribbble_username }}'>
    <span class='fa fa-dribbble'></span>
  </a></li>
  {% endif %}
</ul>
