\---
layout: page
title: Alltel Pop 'n Lock
data: alltel-pop-n-lock
\---

{% include project-meta.html proj=page.data %}

{% include project-gallery.html proj=page.data %}

%p< To celebrate the release of the MOTOROKR phone, the success of their new commercial celebrity, and the holidays, Alltel wanted to create a short music-based game to feature on their homepage.

%p< We worked together to come up with the idea of using the puppets featured in Alltel commercials in a Dance-Dance-Revolution-style game.

%p< Alltel provided me with 360 photos of each of the puppets, which I cleaned up, cut into pieces, and reassembled in Flash with a custom rigging system to make character animation easy. I then developed all the art, animation, and code for the game.

%p< Because it was to be integrated into the front page of the Alltel website during the holiday season, development for this game presented interesting performance challenges. In addition to getting the music tracks for the game as small as possible without sacrificing sound quality, I had to carefully optimize all the game assets and load them into the game only as they were needed to ensure smooth game play and fast load times.

%p.return-to<
  %a{ href: "/work/index.html"} Return to Work Samples

%script{src: "/scripts/gallery.js", type: "text/javascript"}
