\---
layout: page
title: Basic Calculator
data: ios-calc
\---

{% include project-meta.html proj=page.data %}

%img.side-img{ src: "/images/work/calc/basic-calculator.jpg", alt: "Calculator screenshot"}

%p< When I first arrived at Hacker School, I decided I wanted to learn more about iOS development, Xcode, and Swift which had just been announced at WWDC. After learning some basics about Xcode and experimenting with Swift in Playgrounds, I started my first iOS project - a simple calculator. I chose this particular project because it's scope is well defined and I didn't want to spend a lot of time designing something new. I learned a lot about iOS project and code structure, as well as how to work with constraints in Xcode.

%p<
  You can learn more about this project from the
  %a{ href: "/2014/09/17/basic-calculator-app.html" } blog post
  I wrote detailing its creation.

%p<
  %a{ href: "https://github.com/ursooperduper/calculator", target: "_blank" } Check out the code in this project's Github repository

%p.return-to<
  %a{ href: "/work/index.html"} Return to Work Samples
