\---
layout: page
title: Daimler Chrysler Financial Services - BOX
data: dcfs-box
\---

{% include project-meta.html proj=page.data %}

{% include project-gallery.html proj=page.data %}

%p< DaimlerChrysler worked with Vectorform to create a financially-oriented project management tool that integrated with Lotus Notes for Daimler Chrysler Financial Services. When I was brought into the project, it was past deadline, poorly scoped, and the client relationship was in jeopardy.

%p< I familiarized myself with the goals of the project, its status, and worked with the client to establish a new timeline for delivery and a clear process for reviewing progress. Using Axure RP, I created functional prototypes to help the client better visualize the end product and provide actionable feedback along the way. The functional prototype was output as development specs that were used by the development team to code and test the app.

%p< Once the application was delivered and accepted by the client, I designed print and video tutorial documentation for both users and in-house admins. Finally, I spent two days on site providing training to admins and users to get them up and running with the new application quickly.

%p.return-to<
  %a{ href: "/work/index.html"} Return to Work Samples

%script{src: "/scripts/gallery.js", type: "text/javascript"}
