\---
layout: page
title: For Love of the Ride - Generative Art
data: flotr
\---

{% include project-meta.html proj=page.data %}

%p< I am always on the lookout for geneative art project ideas. My love to cycling led to this project where I draw SVG bike component assets and then used them to create generative art pieces.

{% include project-gallery.html proj=page.data %}

%p.return-to<
  %a{ href: "/work/index.html"} Return to Work Samples

%script{src: "/scripts/gallery.js", type: "text/javascript"}
