\---
layout: page
title: Heraldry - Generative Art
data: heraldry
\---

{% include project-meta.html proj=page.data %}

%p< I've always been interested in technology that brings art and code together. I love to experiment with Processing, the language and sketchbook for visual arts.

%p< When I found out Joshua Davis was going to be providing classes on Processing and the HYPE Framework via Skillshare, I jumped at the chance to take part.

%p< The Heraldry project was born during that first class. I was looking for interesting symbols and designs I could use for generative art pieces and stumbled across the incredible symbols and imagery associated with heraldry.

%p< As a part of this project, I created all my own SVG artwork and used that to create the pieces shown below.

{% include project-gallery.html proj=page.data %}

%p.return-to<
  %a{ href: "/work/index.html"} Return to Work Samples

%script{src: "/scripts/gallery.js", type: "text/javascript"}
