\---
layout: page
title: Work Samples
\---

.work
  {% for work in site.data.work-projects %}
  .work-thumb
    %a{ href: "/work/{{ work.url }}" }
      %img{ src: "/images/work/thumbs/{{ work.thumb }}" }
      {{ work.title }}
  {% endfor %}

%h3<= "Personal Projects"

.work
  {% for per in site.data.personal-projects %}
  .work-thumb
    %a{ href: "/work/{{ per.url }}" }
      %img{ src: "/images/work/thumbs/{{ per.thumb }}" }
      {{ per.title }}
  {% endfor %}
