\---
layout: page
title: LewittScript
data: lws
\---

{% include project-meta.html proj=page.data %}

%img{ src: "/images/work/lws/lws-001.gif", alt: "A canvas with a horizontal line of triangles." }

%p< At Hacker School, I was looking for a project idea that I could work on long-term, would develop my programming skills, and be tied to art in some way. What I came up with is a project inspired by the work of Minimalist artist, Sol LeWitt. Sol Lewitt created a fascinating series of wall paintings and murals that were executed based on a set of written instructions.

%p< My idea is to build an app that will allow a user to enter a set of instructions which will then be translated to artwork by the app. The project is still in its early stages, but got a basic structure set up and a first pass at the app which recognizes simple instructions. I'm using the parser, PEGJS, to help break down a set of instructions into steps to create the final piece of artwork.

%p< As the app matures, I'd like to add features like the ability to save and share completed works with other people.


%img{ src: "/images/work/lws/lws-002.gif", alt: "A yellow canvas with grey diagonal lines." }

%p<
  You can learn more about this project from my blog post,
  %a{ href: "/2014/10/23/introducing-lewittscript.html" } Introducing LeWittScript: A conceptualist art + code project

%p.return-to<
  %a{ href: "/work/index.html"} Return to Work Samples
