\---
layout: page
title: Second Life Navigation
data: sl-lmnav
\---

{% include project-meta.html proj=page.data %}

{% include project-gallery.html proj=page.data %}

%p< Second Life users who hvae spent any time in world gather an immense collection of inventory items. Among those items are landmarks, which are similar to browser bookmarks, serving as a quick way to teleport to locations in Second Life.

%p< I contracted with Linden Lab to do a user research project on Landmarks & Navigation, with a goal of introducing new ways to organize Landmarks and make traveling in Second Life easier.

%p< Countless hours of user interviews inworld and competitive research formed the basis for a 120-page recommendation document that included wireframes for a proposed new feature for landmark management in the Second Life Viewer.

%p< The result of this project was the introduction of a browser-like navigation bar in the Viewer, a favorites bar where cherished landmarks could be quickly accessed, and a more robust landmark asset that allowed users to add notes and more easily share Landmarks.

%p.return-to<
  %a{ href: "/work/index.html"} Return to Work Samples

%script{src: "/scripts/gallery.js", type: "text/javascript"}
