\---
layout: page
title: Strava Routes
data: routes
\---

{% include project-meta.html proj=page.data %}

{% include project-gallery.html proj=page.data %}

%p< Routes provide athletes with ways to plan and share their rides and runs with others.

%p< Once a route has been created, it can be exported to a GPS device, printed as a cue sheet, and most importantly, shared with others, inside and outside of Strava.

%p< The goal for the design of routes was to create something clean and simple that could be built upon over time. The actual route page has a flexible hierarchy that will allow for future expansion and features like photos, stories, ratings, and comments.

%p< Route pages are made available to logged-out users in a basic form - showing just the map with a route path. If a logged-out user attempts to save or export a route page, they are prompted to sign up for Strava to gain full access to the routes feature.

%p.return-to<
  %a{ href: "/work/index.html"} Return to Work Samples

%script{src: "/scripts/gallery.js", type: "text/javascript"}
