\---
layout: page
title: Strava Route Builder
data: route-builder
\---

{% include project-meta.html proj=page.data %}

{% include project-gallery.html proj=page.data %}

%p< Pairing clean design and simple tools with Strava athlete activity data, the Route Builder was designed to offer athletes a ride and run planning tool unmatched by its competitors.

%p< Using anonymized activity data, the Route Builder can recommend the roads, trails, and paths runners and cyclists prefer.

%p< I spent a lot of time with paper prototypes and sketching to make sure the design of the Route Builder would work. Clear user scenarios were developed based on interviews with athletes and competitive research. From there, goals for the tools were formed for the project, then detailed wireframes and workflows were developed. All of these were worked on on tandem with a prototype being developed by the engineering team.

%p< As a potentially complicated tool to use, I felt it was important to educate users on how to use the tool, so we developed a step-by-step first user experience and a good help/documentation section available directly in the app.

%p< Once the tool was launched, we started adding new features based on user feedback including heatmaps and the ability to copy and modify other people's routes. 

%p< The Route Builder release was extremely popular with users, with over 20,000 routes created in just three weeks!

%p.return-to<
  %a{ href: "/work/index.html"} Return to Work Samples

%script{src: "/scripts/gallery.js", type: "text/javascript"}
