\---
layout: page
title: Strava Logged-Out Profile Pages
data: strava-logged-out-profile
\---

{% include project-meta.html proj=page.data %}

{% include project-gallery.html proj=page.data %}

%p< Strava user profiles share recent activities and lots of data about performance over time. Unfortunately, the profiles were viewable only to logged-in Strava users.

%p< The goal of the logged-out profile pages project was to get Strava users to share their profiles on social media (Facebook, Twitter, etc.) and encourage new users to sign up for Strava based on the interested content found on their friend's profiles.

%p We created a clean, mobile-friendly, logged-out profile page with clear calls to action to sign up for Strava.

%p.return-to<
  %a{ href: "/work/index.html"} Return to Work Samples

%script{src: "/scripts/gallery.js", type: "text/javascript"}
