\---
layout: page
title: AngularJS Trello Clone
data: trello-clone
\---

{% include project-meta.html proj=page.data %}

%p<
  I wanted to start experimenting with various front-end frameworks, so I set out to build clones of some of my favorite applications. The first in this series of experiments is a Trello Clone. Trello is a tool that makes it possible to organize anything using lists, cards, images, and other data - in an easy to use drag-and-drop interface.

%img{ src: "/images/work/trel/trello-clone.gif", alt: "List- and card-based interface." }

%p<
  The Trello clone is built in AngularJS and uses basic styling to copy Trello's list and card creation process. It uses a popular lightweight AngularJS module to handle the
  %a{ href: "http://marceljuenemann.github.io/angular-drag-and-drop-lists", target: "_blank" } drag and drop interaction.

%p<
  %a{ href: "https://github.com/ursooperduper/creatures-are-friends", target: "_blank" } Check out the code in this project's Github repository.

%p.return-to<
  %a{ href: "/work/index.html"} Return to Work Samples
