---
layout: page
title: Don't Think Draw
data: dtd
---
{% include project-meta.html proj=page.data %}
<p>To help reignite my creativity and get back into the habit of drawing, I decided to embark on a project in 2014, drawing one character design a day. The drawing was posted on
<a href='https://instagram.com/ursooperduper/' target='_blank'>my Instagram account</a>
each day to share progress and get feedback from my followers.</p>
<p>Periodically, I would take all the sketches I'd created and convert them to vector art. Then I'd add color and additional styling to select pieces. Some of the character designs that I was particularly pleased with were formatted to fit in t-shirt, pillows, phone cases, and more on the website,
<a href='https://society6.com/ursooperduper' target='_blank'>Society 6.</a></p>
{% include project-gallery.html proj=page.data %}
<p class='return-to'><a href='/work/index.html'>Return to Work Samples</a></p>
<script src='/scripts/gallery.js' type='text/javascript'></script>
