---
layout: page
title: Strava Athlete Trophy Case
data: strava-trophy-case
---
{% include project-meta.html proj=page.data %}
{% include project-gallery.html proj=page.data %}
<p>Athletes on Strava can join challenges that test and push their limits. When a challenge goal is met, that achievement is shared on Strava's activity feed in the form of a digital badge. Unfortunately, if you missed an achievement's appearance in the activity feed, it was basically lost.</p>
<p>A long-standing feature request was the ability for an athlete to have a record of their challenge achievements. And, with the release of Strava's API, a third-party developer had created a feature that showed a list of an athlete's achievements. In addition, during a Strava Jam (a monthly two-day hackathon at Strava), a Strava team member built a module for an athlete's profile page that integrated challenge achievement badges.</p>
<p>Given all of this work demonstrated a simple solution to a popular user feature request, it made sense to put together a small team to integrate challenge achievements into Strava's site. I created a simple product brief to pitch the full project with a goal of getting athletes to share their achievements inside and outside of Strava. The concept was further refined to become a trophy case module that would be integrated into a user profile and visible both logged-in and out and easily shareable on social media.</p>
<p class='return-to'><a href='/work/index.html'>Return to Work Samples</a></p>
<script src='/scripts/gallery.js' type='text/javascript'></script>
